@use './variables' as var;
@use './mixins' as mixin;


* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    border: 0px;
    font-family: "Comic Neue", cursive;
    font-style: normal;
    color: var.$white;
}

img {
    object-fit: cover;
}

button {
    cursor: pointer;
}

.button {
    padding: var(--padding);
    background-color: var(--background-color);
    border-radius: var(--border-radius);
    font-size: var(--font-size);
    font-weight: var(--font-weight);
    color: var(--color);
    line-height: var(--line-height);
}

a {
    text-decoration: none;
    color: var.$black;
}

ul {
    list-style-type: none;
}