$white: #ffffff;
$black: #000000;
$gray-white: #141414;
$yellow: #f6c700;
$dark-yellow: #e4bb24;
$gray-background: #424242;
$gray-text: #c7c7c7;

$flex-row: row;
$flex-column: column;
$flex-row-reverse: row-reverse;
$flex-column-reverse: column-reverse;
$flex-center: center;
$flex-space-between: space-between;
$flex-start: flex-start;
$flex-end: flex-end;

$breakpoint-md: 960px;