@use '../../scss/base/mixins' as mixin;
@use '../../scss/base/variables' as var;

.header {
    width: 100%;

    &__background {
        @include mixin.flex-layout(var.$flex-row, var.$flex-center, var.$flex-center, 0);
        background-color: var.$black;
        color: var.$black;
        padding: 8px 32px;

        @include mixin.respond-to(md) {
            justify-content: flex-start;
            padding-left: 100px;
        }
    }

    &__button {
        &--logo {
            display: flex;
            @include mixin.button-format(var.$yellow, 4px, var.$black, 29px, 700, 24px);
            padding: 12px;
        }
    }
}